
@{
    ViewBag.Title = "Costs";
}
<style>
    .cost-header {
        margin: 10px 0 0 0;
        font-weight: 700;
    }

    .prices {
        padding-left: 10px;
    }
</style>

<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        COSTS
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">

                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                

                <h3>Costs</h3>
               
                <h4 class="question-header"> Skin Rejuvenation</h4> 

                <p>
                    Skin Rejuvenation treatments offer a solution for all the visible signs of ageing caused by sun damage, such as brown spots (pigmentation), redness (thread veins and uneven skin texture, lines and wrinkles.
                </p>

                <div class="prices">
                    
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 cost-header">Skin Rejuvenation</div>
                        <div class="col-xs-6  col-sm-8 cost-header">Per Session</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Full Face</div>
                        <div class="col-xs-6 col-sm-8">£80.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Full Face & Neck</div>
                        <div class="col-xs-6 col-sm-8">£100.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Full Face, Neck & Décolletage</div>
                        <div class="col-xs-6 col-sm-8">£120.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Décolletage or Chest</div>
                        <div class="col-xs-6 col-sm-8">£50.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
               

                  

                    @*Sun Damage & Age Spot*@
                    
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 cost-header">Sun Damage & Age Spots</div>
                        <div class="col-xs-6  col-sm-8 cost-header">Per Session</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Full Face</div>
                        <div class="col-xs-6 col-sm-8">£60.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Full Face & Neck</div>
                        <div class="col-xs-6 col-sm-8">£80.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Full Face, Neck & Décolletage</div>
                        <div class="col-xs-6 col-sm-8">£100.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Décolletage or Chest</div>
                        <div class="col-xs-6 col-sm-8">£50.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Back of Hands</div>
                        <div class="col-xs-6 col-sm-8">£40.00</div>

                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Forearms and Hands</div>
                        <div class="col-xs-6 col-sm-8">£70.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Full Arms and Hands</div>
                        <div class="col-xs-6 col-sm-8">£90.00</div>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg" />
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">Shoulders</div>
                        <div class="col-xs-6 col-sm-8">£50.00</div>
                    </div>
                </div>
                
                <h4 class="question-header">Thread Veins & Rosacea</h4> 

                We can provide a long term solution to facial problems such as red flushing (Rosacea), thread veins and red spots in just a few quick and easy treatments.
                
            <div class="prices">
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4 cost-header">Thread Veins & Rosacea</div>
                    <div class="col-xs-6  col-sm-8 cost-header">Per Session</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Nose</div>
                    <div class="col-xs-6 col-sm-8">£30.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Cheeks</div>
                    <div class="col-xs-6 col-sm-8">£50.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                  
                    <div class="col-xs-6 col-sm-4">Full Face</div>
                    <div class="col-xs-6 col-sm-8">£60.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                  
                    <div class="col-xs-6 col-sm-4">Full Face & Neck</div>
                    <div class="col-xs-6 col-sm-8">£80.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Full Face, Neck & Décolletage</div>
                    <div class="col-xs-6 col-sm-8">£100.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />

            </div>

                <h4 class="question-header">Acne</h4> 
                
                Acne can be effectively treated with Intense Pulsed light. Intense Pulsed Light treatments greatly reduce the number and severity of active lesions, lessening the inflammation and frequency of break-outs.
            
            <div class="prices">
                
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4 cost-header">Acne</div>
                    <div class="col-xs-6  col-sm-8 cost-header">Per Session</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Full Face</div>
                    <div class="col-xs-6 col-sm-8">£80.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Half Face</div>
                    <div class="col-xs-6 col-sm-8">£60.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Chest</div>
                    <div class="col-xs-6 col-sm-8">£60.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Upper back</div>
                    <div class="col-xs-6 col-sm-8">£60.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
            </div>

                <h4  class="question-header">Permanent Hair Removal</h4>

                We offer a safe, long-term solution to unwanted, excess hair for both men and women. Treatment is suitable for the face and body, is quick and results can be seen after just a few sessions.
                
            <div class="prices">
                
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4 cost-header">Permanent Hair Removal</div>
                    <div class="col-xs-6  col-sm-8 cost-header">Per Session</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Upper Lip or Chin</div>
                    <div class="col-xs-6 col-sm-8">£30.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Lip and Chin</div>
                    <div class="col-xs-6 col-sm-8">£50.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Lower Face</div>
                    <div class="col-xs-6 col-sm-8">£60.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Neck</div>
                    <div class="col-xs-6 col-sm-8">£40.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4 cost-header">Upper Body</div>
                    <div class="col-xs-6  col-sm-8 cost-header">Per Session</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">              
                    <div class="col-xs-6 col-sm-4">Full Back</div>
                    <div class="col-xs-6 col-sm-8">£90.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Arms</div>
                    <div class="col-xs-6 col-sm-8">£60.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Underarms</div>
                    <div class="col-xs-6 col-sm-8">£35.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Chest (female)</div>
                    <div class="col-xs-6 col-sm-8">£40.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Chest (male)</div>
                    <div class="col-xs-6 col-sm-8">£80.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Abdomen</div>
                    <div class="col-xs-6 col-sm-8">£50.00</div>

                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Stomach Line</div>
                    <div class="col-xs-6 col-sm-8">£30.00</div>

                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
               
                <div class="row">
                    <div class="col-xs-6 col-sm-4 cost-header">Lower Body</div>
                    <div class="col-xs-6  col-sm-8 cost-header">Per Session</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Half Leg (Incl Knee)</div>
                    <div class="col-xs-6 col-sm-8">£85.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Half Leg (Incl Knee)</div>
                    <div class="col-xs-6 col-sm-8">£85.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Full Leg</div>
                    <div class="col-xs-6 col-sm-8">£115.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Bikini (standard)</div>
                    <div class="col-xs-6 col-sm-8">£40.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Bikini Extended</div>
                    <div class="col-xs-6 col-sm-8">£55.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />
                
                <div class="row">
                    <div class="col-xs-6 col-sm-4">Feet, Toes or Hands</div>
                    <div class="col-xs-6 col-sm-8">£20.00</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg" />

            </div>
                <div class="ulockd-bp-date">
                </div>
            </div>
        </div>
        
    <div class="col-md-12">
        <div class="row">
            
            <h3>Special Offers</h3>

            <p>Book three sessions and receive 10% discount. </p> 
                
            <p> Book five sessions and get the sixth session free.</p>
                
            <div class="ulockd-bp-date"></div>
        </div>
    </div>

        <div class="col-md-12">
            <div class="row">
                
                
                <ul>
                    <li><i>*Prices are per session and multiple sessions are usually required. </i></li>
                    <li><i>*Discounts are available when booking courses of treatments. </i></li>
                    <li><i>*Gift vouchers available. </i></li>
                    <li><i>*Wedding packages available. </i></li>
                    <li><i>*Trained by Lynton Laser, experts in aesthetic technology. </i></li>
                </ul>
               

                
                  
               
                

                



            </div>
        </div>
    </div>
</section>

