
@{
    ViewBag.Title = "Acne Treatment in Morpeth";
}
<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        ACNE TREATMENT
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">

                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">
            <div class="row">


                <h3>Acne</h3>
                Acne is a common skin condition that frequently affects teenagers and young adults of both sexes.  However, adults of all ages from mid twenties through to mid fifties are increasingly affected and troubled by congested skin, blocked pores and skin blemishes.  You don't have to let acne spoil your life.  The Laser Clinic offers a range of successful acne treatments to leave your skin clear and blemish free.



                <h4> What Causes Acne?</h4> 

                The presence of acne is often influenced by the following factors:



                <h4>   Influence #1: Hormones</h4>

                For the majority of acne sufferers, outbreaks begin at puberty because the body begins to produce hormones called androgens. These hormones cause the sebaceous glands to enlarge, which is a natural part of the body's development but for acne sufferers these glands are over stimulated.  Androgens are also responsible for acne flare-ups associated with the menstrual cycle and, on occasion, pregnancy.


                <h4>  Influence #2: Oily Skin</h4>

                When the sebaceous gland is stimulated by androgens, it produces extra sebum (oil).  Sebum mixes with common skin bacteria and dead skin cells that have been shed from the lining of the follicle.  While this process is normal, the presence of extra sebum in the follicle increases the chances of clogging and can cause acne.  Stress levels have also affected sebum production and can increase severity of acne.


                <h4>Influence 3: Bacteria</h4> 

                The bacterium Propionibacterium acnes, (P. acnes for short) is present on all skins and is part of the skin’s natural sebum maintenance system.  Once a follicle is plugged, P. acnes bacteria multiply rapidly, creating the chemical reaction we know as inflammation in the follicle and surrounding skin.


                <h4> Influence 4: Inflammation</h4>

                When you are exposed to unwanted bacteria your immune system sends in an army of white blood cells to attack.  This is why pimples can be red, swollen and painful.  The inflammatory response is different for everyone, but studies have shown that it is especially strong in adult women.  Fortunately, you have options!  There are many kinds of acne treatments available.  Like you, acne is highly individual and response to treatments does vary from person to person.  Often several treatments are recommended in combination.  We offer an extensive range of acne treatments and will advise on the most suitable procedure for you and your skin.


            

                <div class="ulockd-bp-date">
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="row">
                <h3> Common Questions</h3>


                <h4 class="question-header">
                    How are thread veins treated? </h4>

                    Both Intense Pulse Light and laser systems emit light which is readily absorbed by blood vessels, heating them to point where they are destroyed.  Following treatment, the vessels quickly clear as they are reabsorbed by the body, leaving little or no trace of the original lesion.  For Intense Pulsed Light treatment a thin layer of chilled gel is applied to the skin to aid light absorption by the vessel.  The light is then pulsed over the entire area to be treated.  The chilled gel is removed and the area cooled.  A similar process is carried out for laser treatment except the chilled gel is not required.  During the treatment, protective eyewear will be worn.



                <h4 class="question-header">
                    How many treatments are necessary? </h4>

                    Typically three to four treatments are needed for maximum results, though small lesions may clear in just a single session.  For general redness and rosacea five or more treatments may be required.  Repeat sessions are spaced every four to six weeks.



                <h4 class="question-header">
                    How long does each treatment take? </h4>

                    Treatment is relatively quick and can be just 10 minutes for a single lesion or up to 45 minutes for a full face.


                <h4 class="question-header">
                    How long do the results last? </h4>

                    Immediately after treatment some thread veins will disappear but may re-occur a few days later, but be less visible.  With further treatment these vessels will disappear and are not likely to reoccur.  However, once you have a tendency to facial redness you always will so new veins may appear at some point in the future making further treatment necessary.  Maintenance sessions may not be required for several years though as results are long-lasting.  To help prevent new veins forming we strongly advise the use of a good sunscreen such as ‘Radical Defence’ to protect the skin from damage.

                <h4 class="question-header">

                    What does treatment feel like? </h4>

                    Treatment is mildly uncomfortable but there is no need for anaesthesia and the procedure is actually quite quick.  Sensations vary but most people describe it as a very quick, hot pin prick.



                <h4 class="question-header">
                    Why choose The Laser Clinic? </h4>

                    The Laser Clinic has high calibre equipment to complete the task.  More importantly we really understand how laser light works and interacts with the skin. Our Lumina system is from Lynton Lasers who have been manufacturing lasers and IPL’s for over 15 years and their knowledge and expertise is passed onto us.



</div>
        </div>
    </div>
</section>

