
@{
    ViewBag.Title = "Laser Hair Removal in Morpeth";
}

<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        LASER HAIR REMOVAL
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">

                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">

        </div>
        <div class="col-md-12">
            <div class="row">

                <h3 class="ulockd-bps-title">Want to be hair free?</h3>
                
                <p>Using the latest  technology we can now offer pain free hair removal treatments on tanned skin.</p>

                <p>The Laser Clinic offers Lynton Diode Laser hair removal in Morpeth and the North East so you can say goodbye to messy waxing and daily shaving.  We have the most effective permanent hair reduction systems so you can rest assured that you will receive the most suitable treatment for you and your hair type.</p>


                <p>Lynton Diode Laser hair removal offers a long-term solution to unwanted or excess hair for both men and women and is suitable for most areas of the face and body.</p>

                <p>

                    A course of treatments is usually required at 4 - 8 weekly intervals to follow the hair growth cycle.  Treatment will leave your skin feeling smooth, soft and free from painful in-growing hairs.
                </p>
                <br />

                <h4>  This treatment is for you if:</h4>

                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fa fa-check-square"></i>
                        Unwanted facial hair is affecting your self confidence
                    </li>
                    <li><i class="fa-li fa fa-check-square"></i> In growing hairs are causing concern</li>
                    <li><i class="fa-li fa fa-check-square"></i> You desire long-lasting hair removal</li>
                </ul>

                <div class="ulockd-bp-date"></div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After 1</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/hairbefore.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/hairafter.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After 2</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:370px" src="~/images/beforeafter/hairbackbefore.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:370px" src="~/images/beforeafter/hairbackafter.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <h3> Common Questions</h3>

                <h4 class="question-header">How does it work?</h4>

                Light is absorbed by the melanin (the pigment in the hair follicle).  The light energy heats the pigment and effectively destroys the hair follicle without damaging the surrounding cell.  The laser or IPL (Intense Pulsed Light) is placed on the skin and a short pulse of light is released, which target many follicles simultaneously.  The applicator is then moved to the neighbouring area of the skin and the process is repeated until the entire area is covered.  For IPL treatments, a thin layer of gel is applied to the skin to help guide the light.



                <h4 class="question-header">
                    Am I suitable for treatment?
                </h4>

                Most people are suitable for treatment.  Best results are seen with people who have lighter skin and darker hair.  Dark hair is more easily treated as it has a high concentration of melanin. Fair hair however contains less melanin so is harder to treat.  Grey/white hair has no melanin so is not suitable for treatment.



                <h4 class="question-header">
                    How does the treatment feel?
                </h4>

                Treatment sensation varies but is often described as a ‘flick of an elastic band’.  No anaesthetic is required and most clients describe the discomforts as moderate and tolerable.



                <h4 class="question-header">
                    What will I see after treatment?
                </h4>

                The hair follicles are damaged by the heat but the hairs remain in the follicles.  The dead hairs shed after 1 to 3 weeks as the epidermis renews.  During this period the hairs will seem to grow as they are pushed out by the new epidermis.



                <h4 class="question-header">
                    Are there any side effects?
                </h4>

                The skin may be red immediately after treatment and the hair follicles may be swollen and raised but this usually subsides within a few hours.   Adverse reactions are rare but may include a small blister or temporary lightening or darkening of the skin.



                <h4 class="question-header">
                    How many treatments are necessary?
                </h4>

                Only hair that is actively growing is affected, therefore multiple treatments are needed.  Treatments are conducted every 4 to 8 weeks depending on the area being treated, until a good result is seen.  The number of treatments varies, although typically 6 treatments or more are needed for optimum results.



                <h4 class="question-header">
                    How long does treatment take?
                </h4>

                Treatments can take as little as 10 minutes and up to 1 hour, depending upon the size of area being treated.


            </div>
        </div>
    </div>
</section>

