
@{
    ViewBag.Title = "Pigmentation Removal in Morpeth";
}

<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        PIGMENTATION REMOVAL
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">

                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">

        </div>
        <div class="col-md-12">
            <div class="row">

                <h3 class="ulockd-bps-title">Pigmentation Removal</h3>

                <p>
                    Sun spots, liver spots, freckles and other unwanted pigmentation are often associated with skin ageing and over exposure to the sun or sunbeds.  From the age of about 40 the skin is less able to regenerate from sun exposure and age spots start to appear.  Generally these age spots pose no health risk, however they can be unsightly and create a patchy, less youthful appearance.  Freckling and age spots are successfully lightened or removed with Laser or Intense Pulse Light.
                </p>
                <p>
                    Not all pigmentation concerns are as a result of sun exposure and some people are born with pigmented birthmarks or may have melasma, a skin pigmentation condition often associated with pregnancy or hormones.  Birthmarks can often be treated with a Q-Switch Laser.
                </p>
                <p>
                    IPL or Intense Pulse Light skin rejuvenation and pigment removal treatment is a relatively quick and easy procedure.  Age spots and freckles can be lightened or removed in as little as one to three treatment sessions.  The light targets areas of excess pigment safely breaking down the excess melanin.  The sun spots or freckles darken in the first few days after treatment and then the excess melanin sheds naturally away.
                </p>
                <br />

                <h4>  This treatment is for you if:</h4>

                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fa fa-check-square"></i>
                        You want a more even skin tone
                    </li>
                    <li><i class="fa-li fa fa-check-square"></i> You want to reduce areas of excess freckling</li>
                    <li><i class="fa-li fa fa-check-square"></i> You want to target a specific age spot</li>
                </ul>

                <div class="ulockd-bp-date">
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After 1</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:480px" src="~/images/beforeafter/pigmentation2before.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:480px" src="~/images/beforeafter/pigmentation2after.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After 1</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/pigmentationbefore.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/pigmenationafter.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <h3> Common Questions</h3>

                <h4 class="question-header">
                    How does Intense Pulse Light Work?
                </h4>

                <p>
                    The Intense Pulse Light System releases short pulses of filtered light that is readily absorbed by the high concentration of melanin found within freckles, sun spots or liver spots.  The rapid absorption of light energy heats the melanin and eradicates the melanin-rich cells.

                </p>

                <h4 class="question-header">    Am I suitable for treatment?</h4>

                <p>
                    Most people are suitable for treatment except for very dark skinned or tanned individuals.  However, large, raised and dark pigmentation cannot be treated and may need to be assessed by our Medical Advisor.  Dark moles should not be treated nor would we advise IPL for melasma, this would be better suited to fractional laser.
                </p>


                <h4 class="question-header">
                    What does treatment feel like?
                </h4>

                <p>
                    Treatment is mildly uncomfortable and a warm, tingling sensation not unlike sunburn is experienced afterwards.
                </p>


                <h4 class="question-header">
                    What will I look like after treatment?
                </h4>

                <p>
                    The skin may be slightly red and the pigment marks will darken and may appear more obvious before they fade away.
                </p>

                <h4 class="question-header">
                    Are there any side effects?
                </h4>

                <p>
                    Most people experience little more than slight reddening and possibly mild swelling which usually disappear within hours to a couple of days.  Very rarely a small blister may form or temporary lightening or darkening of the skin can occur.
                </p>

                <h4 class="question-header">
                    Why choose The Laser Clinic?
                </h4>

                <p>
                    The Laser Clinic has high caliber equipment to complete the task.  More importantly we really understand how laser light works and interacts with the skin. Our Lumina system is from Lynton Lasers who have been manufacturing lasers and IPL’s for over 15 years and their knowledge and expertise is passed onto us
                </p>

            </div>
        </div>
    </div>
</section>

