
@{
    ViewBag.Title = "Remodel RF Radio frequency (3 Juve) in Morpeth";
}
<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        Remodel RF Radio frequency <br />
                        (3 Juve)
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">

                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">
            <div class="row">

                <h3 class="ulockd-bps-title">Remodel / Tightening & Lifting</h3>

                <p>Gravity is not our friend when it comes to its effect on your skin. A loss of firmness and sagging around the eyes and jawline (sometimes referred to as jowls) are usually the most obvious signs of ageing.</p>

                <p> Utilising radio waves , Remodel  causes micro-vibrations within the skin tissue to stimulate fibroblast cells which then produce new collagen and elastin, creating stronger, firmer dermal tissue. This leads to a subtle lifting and tightening of the skin that can greatly improve the loss of firmness.</p>

                <div class="ulockd-bp-date"></div>
     
            </div>

        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:370px" src="~/images/beforeafter/SkinRejuvenation2Before.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:370px" src="~/images/beforeafter/SkinRejuvenation2After.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
                <a target="_blank" style="color: #004489; text-decoration: underline;" href="/downloads/Lynton Skin Rejuvenation Patient Leaflet Updated 25 Years Logo 2019.pdf"> View Patient Leaflet  </a>
                <div class="ulockd-bp-date"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <h3> Common Questions</h3>

                <h4 class="question-header">
                    What should I expect before treatment?
                </h4>

                All 3JUVE®  treatments start with an advanced consultation to determine your specific goals. The treatment can then be tailored to your individual skin depending on your main concerns. Whether you are concerned with discolouration, loss of firmness or lines and wrinkles the 3JUVE®  procedure can be customised to ensure the best possible results for your skin.



                <h4 class="question-header">
                    How long does the treatment take?
                </h4>

                A typical 3JUVE®  treatment takes approximately 1 hour, improvement is evident after the first session, but for optimal results 3 to 5 treatment sessions are often advised. Treatment is carried out every 2 to 6 weeks depending upon the level of rejuvenation required



                <h4 class="question-header">
                    What should I expect after treatment?
                </h4>

                Your skin could be a little red after treatment and depending on which technologies are utilised some bronzing and flakiness could occur.


                <h4 class="question-header">
                    How does the treatment feel?
                </h4>

                A warm, heating sensation is felt during treatment with some mild stinging.

            </div>
        </div>
    </div>
</section>

