
@{
    ViewBag.Title = "Remodel RF Radio frequency (3 Juve) in Morpeth";
}
<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        Remodel RF Radio frequency (3 Juve)
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">

                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                
                <h3 class="ulockd-bps-title">Remodel / Tightening & Lifting</h3>

                <p>Gravity is not our friend when it comes to its effect on your skin. A loss of firmness and sagging around the eyes and jawline (sometimes referred to as jowls) are usually the most obvious signs of ageing.</p>

                <p> Utilising radio waves , Remodel  causes micro-vibrations within the skin tissue to stimulate fibroblast cells which then produce new collagen and elastin, creating stronger, firmer dermal tissue. This leads to a subtle lifting and tightening of the skin that can greatly improve the loss of firmness.</p>

                <div class="ulockd-bp-date"></div>
            </div>

        </div>
    </div>
</section>

