
@{
    ViewBag.Title = "Resurface Fractional Laser in Morpeth";
}
<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        Resurface Fractional Laser
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">

                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <h3>Resurface Fractional Laser</h3>

                <p>Fractional laser skin resurfacing provides total rejuvenation to give the skin a smooth, youthfuland glowing appearance. </p>

                <div class="ulockd-bp-date"></div>
            </div>
        </div>
        
        <div class="col-md-12">         
            <div class="row">
                <img class="img-responsive" style="max-height:480px" src="~/images/beforeafter/Scarring---ResurFACE--.jpg" />
            </div>
            
            <div class="row">
                <img class="img-responsive" style="max-height:480px" src="~/images/beforeafter/Stretch-marks---ResurFACE--.jpg" />
            </div>
            
            <div class="row">
                <img class="img-responsive" style="max-height:480px" src="~/images/beforeafter/Stretch-marks-2---ResurFACE--.jpg" />
            </div>
            
            <div class="row">
                <img class="img-responsive" style="max-height:480px" src="~/images/beforeafter/Stretch-marks-3---ResurFACE--.jpg" />
            </div>

            <div class="row">
                <img class="img-responsive" style="max-height: 480px" src="~/images/beforeafter/3JUVEAcneScarringLaserSkinSolutions.gif"/>
            </div>
            <div class="row">
                <img class="img-responsive" style="max-height: 480px" src="~/images/beforeafter/3JUVEResurfaceFineLines.png"/>
            </div>
            <div class="row">
                <img class="img-responsive" style="max-height: 480px" src="~/images/beforeafter/3JUVEResurfaceScarring.jpg"/>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
                <a target="_blank" style="color: #004489; text-decoration: underline;" href="/downloads/Lynton ResurFACE Patient Leaflet Updated 25 Years Logo 2019.pdf"> View Patient Leaflet  </a>
                <div class="ulockd-bp-date">
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="row">
                <h3> Common Questions</h3>

                <h4 class="question-header">
                    How does fractional skin resurfacing work?
                </h4>

                Minute sections of the skin are targeted with laser light, which penetrates into the tissue, causing small columns of thermal damage which in turn stimulates signifi cant collagen renewal. The surrounding nonaff ected areas of skin aid the body’s natural recovery process, allowing dramatic results without signifi cant downtime.

                <h4 class="question-header">
                    Am I suitable for treatment?
                </h4>

                Treatment is suitable for most people and highly recommended for individuals wanting a brighter, more even skin tone, smoother skin texture with improved skin elasticity, a reduction of wrinkles, reduced pore size and improvement to scars (including acne scars) and stretch marks.

                <h4 class="question-header"> How is the treatment carried out?</h4>

                The skin is cleansed and the handpiece is moved over the skin delivering tiny microscopic laser beams. Typical treatment times vary depending on the skin condition and the area being treated, but will range from 10 to 40 minutes. After treatment the skin is cooled. Protective eyewear must be worn during treatment.

                <h4 class="question-header">
                    How does the treatment feel?
                </h4>

                A warm, heating sensation is felt during treatment, with some mild stinging. After treatment the skin can be quite hot and so cooling packs are often utilised to minimise discomfort.


                <h4 class="question-header">What should I expect after treatment?</h4>

                You will experience a mild sunburnt sensation for a few hours after treatment and the skin may be red for 1 to 2 days. This is a normal sign that the skin is healing at a deep level. Swelling is likely but minimal, and resolves in 2 to 3 days. As the healing process occurs, your skin may have a ‘bronzed’ appearance that lasts from 3 to 10 days, depending on the treatment level. Your skin will naturally exfoliate and may fl ake as if you had mild sunburn.

                <h4 class="question-header"> How many treatments are necessary? </h4>

                Improvement is evident after the first session, but for optimum results 3 to 5 treatment sessions are often advised. Treatment is carried out every 2 to 6 weeks, depending upon the level of rejuvenation required.


                <h4 class="question-header">Are there any side effects? </h4>

                Skin redness, swelling and the bronzing appearance described above are all expected outcomes of treatment. Other unwanted eff ects are rare but can include a small blister or temporary change to skin pigmentation, such as a darkening of the skin.

                <h4 class="question-header">Consultation Procedure </h4>

                Prior to treatment you must first undergo a consultation where details about your medical history are obtained to confi rm suitability. Before proceeding with treatment you will also be asked to complete a consent form.

            </div>
        </div>
    </div>
</section>

