
@{
    ViewBag.Title = "Skin Rejuvenation treatment in Morpeth";
}
<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        Skin Rejuvenation
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">
                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">
            <div class="row">


                <h3>Skin Rejuvenation</h3>
                
                Skin Rejuvenation treatments
                offer a solution for all the visible
                signs of ageing caused by sun
                damage, such as brown spots
                (pigmentation), redness (thread
                veins) and uneven skin texture,
                lines and wrinkles.


                <h4> Consultation Procedure</h4> 
                
                Prior to treatment you must first undergo a consultation
                where details about your medical history are obtained in
                order to confirm suitability. Before proceeding you will be
                asked to sign a consent form and undergo a test patch.
               

                <div class="ulockd-bp-date">
                </div>
            </div>

        </div>
        
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After 1</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/SkinRejuvenation1Before.JPG" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/SkinRejuvenation1After.JPG" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After 2</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:370px" src="~/images/beforeafter/SkinRejuvenation2Before.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:370px" src="~/images/beforeafter/SkinRejuvenation2After.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <h3> Common Questions</h3>


                <h4 class="question-header">
                    How does the treatment work? </h4>

                Precisely controlled short pulses of light are released
                that target discolouration (brown and red lesions) to
                create a more youthful, even complexion. In addition,
                this light results in the stimulation of the fibroblast cells,
                leading to increased production of new collagen and
                elastin. This improves the texture of the skin, evening out
                lumps and bumps whilst reducing the appearance of
                lines and wrinkles. If an Nd:YAG laser is used the skin
                will also become firmer, tighter and the appearance of
                scarring can be reduced.
              


                <h4 class="question-header">
                    How is the treatment carried out? </h4>

                Upon consultation a treatment procedure will be
                tailored specifically to you. The process will include a
                light applicator that is placed onto the skin and a short
                pulse of light is released. The handpiece is then moved
                to the neighbouring area and the process is repeated
                until the entire area is treated. During treatment
                protective eye wear will be provided.



                <h4 class="question-header">
                    Am I suitable for treatment?</h4>

                Yes, treatment is suitable for most people. We
                recommend a full consultation to ascertain your suitability
                and to allow the treatment to be tailored to your needs.


                <h4 class="question-header">
                    How does the treatment feel?  </h4>

                Treatment can be mildly uncomfortable but no
                anaesthesia is required and most people describe the
                discomfort as moderate and acceptable, not unlike a
                quick pin prick and warm feeling.


                <h4 class="question-header">
                    Are there any side effects? </h4>

                The skin may be quite red and slightly swollen after
                treatment but this usually subsides quickly. Very rarely
                a small blister may form and there can be temporary
                lightening or darkening of the skin. However, most
                people experience no side effects and any skin reaction
                usually disappears within a few hours.



                <h4 class="question-header">
                    What should I expect after the treatment? </h4>

                Redness and a slight warming sensation are normal
                after treatment. A cooling pack is applied after treatment
                to calm the skin. You may see a darkening of any
                pigmented spots before they flake off, leading to a more
                even skin tone. Tightening of the skin should increase
                over the following months as new collagen is produced
                within the dermis.
                
                <h4 class="question-header">
                    How many treatments are necessary? </h4>
                
                Treatments are carried out every 2 to 3 weeks and 6
                treatments are recommended for best results. Thereafter,
                top-up sessions are performed as required, but typically
                once or twice a year.
                
                <h4 class="question-header">
                    How long does each treatment take? </h4>
                
                Treatment times can vary but typically between
                20-45 minutes

            </div>
        </div>
    </div>
</section>
