
@{
    ViewBag.Title = "Vascular Treatment in Morpeth";
}

<div class="ulockd-inner-home">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">
                        VASCULAR TREATMENT
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="ulockd-icd-layer bgcolor-primary">

                        <ul class="list-inline ulockd-icd-sub-menu">
                            <li><span class="calltext">  To book a consultation and test patch please call <a href="tel:+447783376702">07783376702</a> </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">

        </div>
        <div class="col-md-12">
            <div class="row">

                <h3 class="ulockd-bps-title">Vascular Treatment</h3>
                <p>
                    Facial thread veins or broken red veins (telangiectasia) are small unsightly superficial red, purple or blue veins that occur around the nose and across the cheeks and chin.  These broken veins occur when the vein dilates and become larger so they are visible through the transparency of the skin.  Although facial veins / spider veins are quite common they can cause some distress and embarrassment for those who have them.
                </p>

                <p>
                    Facial veins may be hereditary or as a result of a variety of factors including damage from sun exposure, wind and the extremes of temperature.  The over use of steroid creams and certain auto immune conditions may also induce thread veins.  Often the exact cause is unknown and may just be part of the natural ageing process or as a part of a skin condition called rosacea.
                </p>

                <p>
                    Facial vessels are effectively treated with Intense Pulse Light (IPL) or laser with minimal downtime or risk in just a few quick, easy treatments.
                </p>

                <br />

                <h4>  This treatment is for you if:</h4>

                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fa fa-check-square"></i>
                        Reduce overall facial redness and reduce blushing
                    </li>
                    <li><i class="fa-li fa fa-check-square"></i>   Be rid of embarrassing broken veins or red spots</li>
                    <li><i class="fa-li fa fa-check-square"></i>   Have clearer, brighter, fresher looking skin</li>
                    <li><i class="fa-li fa fa-check-square"></i>  Suitable for face, neck and chest</li>
                </ul>

                <div class="ulockd-bp-date">
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After 1</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/vascularafter.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/vascularbefore.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Before and After 2</h3>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/vascularafter2.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img class="img-responsive" style="max-height:400px" src="~/images/beforeafter/vascularbefore1.jpg" />
                        <figcaption>Courtesy of Lynton Lasers Ltd</figcaption>
                    </figure>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ulockd-bp-date"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <h3> Common Questions</h3>

                <h4 class="question-header">
                    How are thread veins treated?
                </h4>

                Both Intense Pulse Light and laser systems emit light which is readily absorbed by blood vessels, heating them to point where they are destroyed.  Following treatment, the vessels quickly clear as they are reabsorbed by the body, leaving little or no trace of the original lesion.  For Intense Pulsed Light treatment a thin layer of chilled gel is applied to the skin to aid light absorption by the vessel.  The light is then pulsed over the entire area to be treated.  The chilled gel is removed and the area cooled.  A similar process is carried out for laser treatment except the chilled gel is not required.  During the treatment, protective eyewear will be worn.

                <h4 class="question-header">
                    How many treatments are necessary?
                </h4>

                Typically three to four treatments are needed for maximum results, though small lesions may clear in just a single session.  For general redness and rosacea five or more treatments may be required.  Repeat sessions are spaced every four to six weeks.

                <h4 class="question-header">
                    How long does each treatment take?
                </h4>

                Treatment is relatively quick and can be just 10 minutes for a single lesion or up to 45 minutes for a full face.

                <h4 class="question-header">
                    How long do the results last?
                </h4>

                Immediately after treatment some thread veins will disappear but may re-occur a few days later, but be less visible.  With further treatment these vessels will disappear and are not likely to reoccur.  However, once you have a tendency to facial redness you always will so new veins may appear at some point in the future making further treatment necessary.  Maintenance sessions may not be required for several years though as results are long-lasting.  To help prevent new veins forming we strongly advise the use of a good sunscreen such as ‘Radical Defence’ to protect the skin from damage.

                <h4 class="question-header">
                    What does treatment feel like?
                </h4>

                Treatment is mildly uncomfortable but there is no need for anaesthesia and the procedure is actually quite quick.  Sensations vary but most people describe it as a very quick, hot pin prick.

                <h4 class="question-header">
                    Why choose The Laser Clinic?
                </h4>

                The Laser Clinic has high calibre equipment to complete the task.  More importantly we really understand how laser light works and interacts with the skin. Our Lumina system is from Lynton Lasers who have been manufacturing lasers and IPL’s for over 15 years and their knowledge and expertise is passed onto us.



            </div>
        </div>
    </div>
</section>
